.whatsapp{
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    bottom: 30px;
    right: 30px;
    
}

.whatsapp img{
    width: 100%;
    border-radius: 50%;
    animation: glow 800ms ease-out infinite alternate;
    outline: none;
}


@keyframes glow {
    0% {
		box-shadow: 0 0 10px rgba(36, 245, 36, 0.2);
    }	
    100% {
		box-shadow: 0 0 30px rgba(0,255,0,.8);
    }
}